<section id="listing">
    <div class="container-fluid">
        <div class="icon mb-5">
            <a routerLink="/"><i class="fab fa-airbnb"></i></a>
        </div>
       <div class="container mt-5">
        <h2 class="mb-5 text-center">Your Listing</h2>
        <!-- <h3 *ngIf="hosts[0].length==0" class="noListing" >No listing Found</h3> -->
           <div class="row" *ngIf="hosts.length>0">
               <div class="col-lg-4 col-md-6 col-sm-12 mb-5" *ngFor="let item of hosts[0];let currentIndex=index">
                <div class="card">
                    <img class="card-img-top" src="/assets/images/{{item.hostImage}}" width="100%" alt="Card image cap" *ngIf="!isVisible">
                    <div class="container">
                        <form [formGroup]="form" *ngIf="isVisible">
                            <div class="form-group">
                                <label for="photo" ><h4>Upload a picture of your place:</h4></label>
                               <div class="row justify-content-around">
                                <input formControlName="hostImage" type="file"  class="form-control col-lg-10 col-sm-12" (change)="selectImage($event)" >
                                <button  type="button" class="btn mt-2 upload" (click)="start(item.hostID)">upload</button>
                               </div>
                              </div>
                        </form>
                    </div>
                    <button type="button" class="btn change mt-2" *ngIf="!isVisible" (click)="changeImage(item.hostID)"  >Change</button>
                    <div class="card-body">
                      <h5 class="card-title"> <span class="mr-3"><i class="fas fa-map-marker-alt"></i></span> {{item.address}}</h5>
                      <h5 class="card-title"><span class="mr-2"> <i class="fas fa-home"></i></span> {{item.propertyType}}</h5>
                      <h5 class="card-title"><span class="mr-2"><i class="fas fa-users"></i></span> {{item.numberOfGuests}} guests</h5>
                      <h5 class="card-title"><span class="mr-2"><i class="fas fa-bed"></i></span> {{item.numberOfBedrooms}} bedroom</h5>
                      <h5 class="card-title"><span class="mr-2"><i class="fas fa-bath"></i></span> {{item.numberOfBathrooms}} bathroom</h5>
                      <h5 class="card-title"><span class="mr-3"><i class="fas fa-dollar-sign"></i></span>  {{item.totalPrice}} $</h5>
                      <h5 class="card-title"><span class="mr-2"><i class="fas fa-moon"></i></span> {{item.numberOfNights}} Nights</h5>
                      <h5 class="card-title"><span class="mr-2"><i class="fas fa-snowboarding"></i></span> {{item.activities}} </h5>
                      <p class="card-title lead"><span class="mr-2"><i class="fas fa-clipboard"></i> </span> {{item.description}} </p>
                      <a  [routerLink]="['/hosting/editListing',item.hostID]" routerLinkActive="router-link-active" class="btn btn-success mr-2">Edit</a>
                      <button type="button" class="btn btn-danger" (click)="deleteHost(currentIndex)">Delete</button>
                    </div>
                  </div>
               </div>
           </div>
       </div>
    </div>
</section>
