<section class="lastsection">

    <div class="container">
        <div class="goto">
            <a routerLink="/about">AboutUs</a>
        </div>
        <div class="goto">
            <a routerLink="/hosting/listing">Your List</a>
        </div>
        <div class="goto">
            <a routerLink="/user/trips">Your Trips</a>
        </div>
    </div>
    <hr>
    <footer class="footer">
        <div class="container">
            <ul>
                <li><a href="https://www.facebook.com/airbnb" target="_blank"><i class="fab fa-facebook-f"></i></a></li>

                <li><a href="https://twitter.com/airbnb" target="_blank"><i class="fab fa-twitter"></i></a></li>

                <li><a href="https://en.wikipedia.org/wiki/Airbnb" target="_blank"><i class="fab fa-google"></i></a></li>

                <li><a href="https://www.instagram.com/airbnb/" target="_blank"><i class="fab fa-instagram-square"></i></a></li>                
            </ul>
            <p>Copy Right 2021 © By <a  routerLink="#"> Airbnb </a> All Rights Reserved</p>

        </div>

    </footer>

</section>