<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img routerLink="/" src="/assets/images/logo2.png" width="80" alt="">
            </div>
            <div class="col-sm-5">
                <h4>Host</h4>
                <ul>
                    <li><a routerLink="/experience">Host an Experience</a></li>
                    <li><a routerLink="">Host an adventure</a></li>
                    <li><a routerLink="/hosting">Host your home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div id="copy">copyright @copy 2021 airbnb</div>
</footer>